$theme-color: #77D2D2;
$theme-bg: #D1D2D8;
$white: #fff;

html {
  height: 100%;
  overflow-x: hidden;
}
body {
  min-height: 100%;
	background: $theme-bg !important;
}

#home-feed{
	min-height: 100%;
	#nav{
		background: $theme-color;
		color: $white;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);

		.mitem{
			padding: 10px 0;
			text-align: center;
		}
		.is-active{
	    box-shadow: 0px -4px 0px $white inset;
	    color: $white;
		}
	}
	
	#feed-container{
		margin: 30px 0;
	}

	.text-center{
		text-align: center;
	}

	.padlr30{ padding: 0 30px;	}
	.maxcont{
		max-width: 600px;
		margin: 0 auto;

		.grid{
			margin: 0;
		}
	}

	.padtb20{
		margin: 20px 0;
	}

	.fs1-5{ font-size: 1.5em; }

	.status-card, .mest-card{
		background: $white;
		color: #333;
		min-height: 50px;
		//margin: 10px;
		font-size: 1.2em;

		input{
			background: none;
			border: none;
		}

	}

	.mest-card{
		margin: 10px 0 !important;
		.card-head{
			color: $theme-color;
			border-bottom: solid 1px $theme-bg;
			font-size: 0.7em;
		}

		.card-body{
			margin: 10px 0;
		}

		.card-end{
			
		}

		#post-body{
			padding: 0 1rem;
			#post-text{ margin: 1rem 0; }
		}

		span{font-weight: 800}
	}

	.pad20{padding: 20px;}
	.marg1{margin: 0 1rem;}
	.thumb-img{width: 50px;}
}