@import 'https://fonts.googleapis.com/css?family=Roboto';
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  background: #D1D2D8 !important;
  font-family: 'Roboto', sans-serif !important;
}

.tcenter {
  text-align: center;
}

.marg20 {
  margin: 20px !important;
}

.z2 {
  z-index: 2;
}

.white-text {
  color: #fff !important;
}

.no-pad {
  padding: 0px !important;
}

#home-feed {
  min-height: 100%;
}

#home-feed #nav {
  background: #77D2D2;
  color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#home-feed #nav .mitem {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

#home-feed #nav .is-active {
  box-shadow: 0px -4px 0px #fff inset;
  color: #fff;
}

#home-feed #feed-container {
  margin: 1rem 0;
}

#home-feed .text-center {
  text-align: center;
}

#home-feed .padlr30 {
  padding: 0 30px;
}

#home-feed .maxcont {
  max-width: 600px;
  margin: 0 auto;
}

#home-feed .maxcont .grid {
  margin: 0;
}

#home-feed .padtb20 {
  margin: 20px 0;
}

#home-feed .fs1-5 {
  font-size: 1.5em;
}

#home-feed .open .mest-card, #home-feed .open .status-card {
  opacity: 1;
  transform: translateY(0em);
}

#home-feed .status-card, #home-feed .mest-card {
  transform: translateY(10em);
  opacity: 0;
  background: #fff;
  color: #333;
  min-height: 50px;
  font-size: 1.2em;
  transition: opacity 0.3s ease-in-out, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#home-feed .status-card input, #home-feed .status-card textarea, #home-feed .mest-card input, #home-feed .mest-card textarea {
  background: none;
  border: none;
  width: 100%;
}

#home-feed .status-card input:focus, #home-feed .status-card input:active, #home-feed .status-card input:selection, #home-feed .status-card textarea:focus, #home-feed .status-card textarea:active, #home-feed .status-card textarea:selection, #home-feed .mest-card input:focus, #home-feed .mest-card input:active, #home-feed .mest-card input:selection, #home-feed .mest-card textarea:focus, #home-feed .mest-card textarea:active, #home-feed .mest-card textarea:selection {
  border: 0px;
  background: none;
}

#home-feed .mest-card {
  margin: 10px 0 !important;
}

#home-feed .mest-card .side-icon {
  font-size: 1.5em;
}

#home-feed .mest-card .card-head {
  color: #77D2D2;
  border-bottom: solid 1px #D1D2D8;
  font-size: 0.7em;
}

#home-feed .mest-card .card-body {
  font-weight: 600;
  color: #333;
}

#home-feed .mest-card .card-body .location-grid {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

#home-feed .mest-card .card-body .location-grid i {
  color: #ccc !important;
}

#home-feed .mest-card .card-body .name {
  font-size: 1.2em;
}

#home-feed .mest-card .card-body .time-location {
  color: #ccc;
  font-weight: 300;
  font-size: 0.7em;
}

#home-feed .mest-card .card-body .post-body {
  padding: 1rem;
}

#home-feed .mest-card .card-body .post-body .post-extra {
  margin: 5px 0;
  width: 100%;
}

#home-feed .mest-card .card-body .post-body .post-extra .img, #home-feed .mest-card .card-body .post-body .post-extra img {
  width: 100%;
  max-height: 400px;
}

#home-feed .mest-card .card-body .post-body .post-extra .text {
  padding: 0.5rem 1rem;
  font-weight: 800;
  font-size: 1.5em;
}

#home-feed .mest-card .card-body .post-body .post-extra .text .extra-link {
  margin: 0.5rem 0 0 0;
  color: #aaa;
  font-weight: 300;
  font-size: 0.5em;
}

#home-feed .mest-card .card-body .profile-grid {
  background: #77D2D2;
  min-height: 200px;
}

#home-feed .mest-card .card-body .profile-grid .profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 30px 0 -75px 0;
}

#home-feed .mest-card .card-body .profile-grid .profile-card-body {
  background: #fff;
  padding: 80px 10px 10px 10px;
}

#home-feed .mest-card .card-body .profile-grid .profile-card-body .main1 {
  font-size: 1.8em;
  margin: 0 0 5px 0;
}

#home-feed .mest-card .card-body .profile-grid .profile-card-body .main2 {
  font-size: 1.2em;
  font-weight: 500;
}

#home-feed .mest-card .card-body .profile-grid .profile-card-body .sub1 {
  font-size: 0.8em;
  color: #aaa;
  font-weight: 300;
  margin: 0 0 -5px 0;
}

#home-feed .mest-card .card-body .profile-grid .profile-card-body button {
  background: #fff;
  color: #77D2D2;
  font-size: 1.5em;
  border: 2px solid #77D2D2;
  padding: 10px 30px;
  font-weight: 300;
}

#home-feed .mest-card .card-body .profile-grid hr {
  margin: 0 -10px;
  border: 1px #eee solid;
}

#home-feed .mest-card .card-body .profile-grid .affiliation {
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
  margin: 20px 0;
  color: #aaa;
}

#home-feed .mest-card .card-body .profile-grid .affiliation .affiliation-item {
  margin: 3px 0;
  font-weight: 400;
  font-size: 0.8em;
}

#home-feed .mest-card .card-body .profile-grid .affiliation .affiliation-item .affiliation-date {
  font-weight: 300;
  font-size: 0.7em;
}

#home-feed .mest-card .card-body .material-card {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
}

#home-feed .mest-card .card-end {
  color: #a5a5a5;
  font-size: 0.8em;
  padding: 0 0 1rem 0;
}

#home-feed .mest-card .card-end hr {
  border: solid 1px #f5f5f5;
  margin: -0.3rem 1rem;
}

#home-feed .mest-card .card-end .black {
  color: #333;
  font-weight: 300;
}

#home-feed .mest-card .card-end span {
  color: #333;
  font-weight: 800;
}

#home-feed .mest-card .card-end i {
  color: #9a9a9a;
}

#home-feed .mest-card #post-body {
  padding: 0 1rem;
}

#home-feed .mest-card #post-body #post-text {
  margin: 1rem 0;
}

#home-feed .mest-card span {
  font-weight: 800;
}

#home-feed .pad20 {
  padding: 20px;
}

#home-feed .marg1 {
  margin: 0.8rem 1rem;
}

#home-feed .thumb-img {
  width: 50px;
}

#home-feed .float-rt {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
