html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  background: #D1D2D8 !important;
}

#home-feed {
  min-height: 100%;
}

#home-feed #nav {
  background: #77D2D2;
  color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#home-feed #nav .mitem {
  padding: 10px 0;
  text-align: center;
}

#home-feed #nav .is-active {
  box-shadow: 0px -4px 0px #fff inset;
  color: #fff;
}

#home-feed #feed-container {
  margin: 30px 0;
}

#home-feed .text-center {
  text-align: center;
}

#home-feed .padlr30 {
  padding: 0 30px;
}

#home-feed .maxcont {
  max-width: 600px;
  margin: 0 auto;
}

#home-feed .maxcont .grid {
  margin: 0;
}

#home-feed .padtb20 {
  margin: 20px 0;
}

#home-feed .fs1-5 {
  font-size: 1.5em;
}

#home-feed .status-card, #home-feed .mest-card {
  background: #fff;
  color: #333;
  min-height: 50px;
  font-size: 1.2em;
}

#home-feed .status-card input, #home-feed .mest-card input {
  background: none;
  border: none;
}

#home-feed .mest-card {
  margin: 10px 0 !important;
}

#home-feed .mest-card .card-head {
  color: #77D2D2;
  border-bottom: solid 1px #D1D2D8;
  font-size: 0.7em;
}

#home-feed .mest-card .card-body {
  margin: 10px 0;
}

#home-feed .mest-card #post-body {
  padding: 0 1rem;
}

#home-feed .mest-card #post-body #post-text {
  margin: 1rem 0;
}

#home-feed .mest-card span {
  font-weight: 800;
}

#home-feed .pad20 {
  padding: 20px;
}

#home-feed .marg1 {
  margin: 0 1rem;
}

#home-feed .thumb-img {
  width: 50px;
}
